extends layout

block content
  div(class='container d-flex justify-content-center align-items-center')
  div(class='text-center')
    h1= title
    code
      a URL: https://
    p Estructura:
  div(class='row d-flex justify-content-center align-items-center')
    div(class='col-12 col-lg-5 col-xl-3 p-4 m-2 list-group-item-success border border-success rounded')
      h4 Categorias
      p Metodos 
      code(class='list-group-item my-3') get('/categorias')
      code(class='list-group-item my-3') get('/categorias/:id')
      code(class='list-group-item my-3') post('/categorias')
      code(class='list-group-item my-3') put('/categorias/:id')
      code(class='list-group-item my-3') delete('/categorias/:id')
    div(class='col-12 col-lg-5 col-xl-3 p-4 m-2 list-group-item-success border border-success rounded')
      h4 Clientes
      p Metodos 
      code(class='list-group-item my-3') get('/clientes')
      code(class='list-group-item my-3') get('/clientes/:id')
      code(class='list-group-item my-3') post('/clientes')
      code(class='list-group-item my-3') put('/clientes/:id')
      code(class='list-group-item my-3') delete('/clientes/:id')
    div(class='col-12 col-lg-5 col-xl-3 p-4 m-2 list-group-item-success border border-success rounded')
      h4 Distribuidores
      p Metodos 
      code(class='list-group-item my-3') get('/distribuidores')
      code(class='list-group-item my-3') get('/distribuidores/:id')
      code(class='list-group-item my-3') post('/distribuidores')
      code(class='list-group-item my-3') put('/distribuidores/:id')
      code(class='list-group-item my-3') delete('/distribuidores/:id')
    div(class='col-12 col-lg-5 col-xl-3 p-4 m-2 list-group-item-success border border-success rounded')
      h4 Productos
      p Metodos 
      code(class='list-group-item my-3') get('/productos')
      code(class='list-group-item my-3') get('/productos/:id')
      code(class='list-group-item my-3') post('/productos')
      code(class='list-group-item my-3') put('/productos/:id')
      code(class='list-group-item my-3') delete('/productos/:id')
    div(class='col-12 col-lg-5 col-xl-3 p-4 m-2 list-group-item-success border border-success rounded')
      h4 Compras
      p Metodos 
      code(class='list-group-item my-3') delete('/compras/:id')
      code(class='list-group-item my-3') get('/compras')
      code(class='list-group-item my-3') post('/compras')
      code(class='list-group-item my-3') put('/compras/:id')
      code(class='list-group-item my-3') get('/compras/:id')